@charset "UTF-8";
/* Style du bouton "animal à l'adoption" */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #22234F; /* Couleur de fond du bouton */
  color: #fff; /* Couleur du texte */
  text-decoration: none;
  border-radius: 5px;
}

/* Style au survol du bouton */
.button:hover {
  background-color: #EB1E28; /* Couleur de fond au survol */
}

.button-plus {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.logonav {
  width: 100px;
}

.logosmain {
  width: 200px;
}

.stripmargin {
  border-bottom: 2px solid #f7f7f7;
}

.liensnav {
  font-family: "Roboto";
  font-size: 15px;
  color: #222399;
  font-weight: 400;
  text-decoration: none;
  padding-left: 1rem;
}

/* Style de base du lien Chat GBT amélioré*/
header a {
  text-decoration: none; /* Supprimer le soulignement par défaut */
  color: #000; /* Couleur du lien */
  position: relative; /* Définir la position relative pour l'élément parent */
}

/* Pseudo-élément ::after pour le surlignement */
header a::after {
  content: ""; /* Ajouter un contenu vide */
  position: absolute; /* Définir la position absolue pour le pseudo-élément */
  width: 80%; /* Prendre toute la largeur du lien */
  height: 2px; /* Hauteur du surlignement */
  background-color: #EB1E28; /* Couleur du surlignement */
  bottom: -0.5rem; /* Placer le surlignement au bas du lien */
  left: 1rem; /* Commencer le surlignement depuis le coin supérieur gauche */
  transform: scaleX(0); /* Réduire la largeur du surlignement à zéro par défaut */
  transform-origin: bottom left; /* Définir l'origine de transformation au coin inférieur gauche */
  transition: transform 0.3s ease; /* Ajouter une transition pour l'animation */
}

/* Style lorsque vous survolez le lien */
header a:hover::after {
  transform: scaleX(1); /* Agrandir le surlignement pour le montrer au survol */
}

.bg-footer {
  background-color: #EAF0FF;
  color: white;
  height: 400px;
  margin-top: 50px;
}

.bg_row {
  background-color: #222399;
  height: 250px;
  padding: 20px;
}

.pos-txt1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.pos-txt2 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.pos-txt3 {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-end;
}

.lesi {
  padding-right: 15px;
  font-size: 30px;
}

.h1_fancy-style {
  text-align: center;
  font-family: "Roboto";
  font-size: 25px;
  color: #22234F;
  margin: 50px 0px;
  position: relative;
}

.h1_fancy-style:after {
  content: " ";
  display: block;
  position: absolute;
  left: 50%;
  bottom: -5px;
  height: 2px;
  width: 15%;
  min-width: 65px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #EB1E28;
}

.chien-adopt {
  background-image: url("/assets/img/chiens-adoption-spa.jpg");
  width: 45%;
  height: 300px;
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 1rem;
  box-shadow: -11px 10px 14px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -11px 10px 14px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -11px 10px 14px -4px rgba(0, 0, 0, 0.75);
}

.chat-adopt {
  background-image: url("/assets/img/chats-adoption-spa.jpg");
  width: 45%;
  height: 300px;
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 1rem;
  box-shadow: -11px 10px 14px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -11px 10px 14px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -11px 10px 14px -4px rgba(0, 0, 0, 0.75);
}

.position3 {
  margin-top: 5rem;
}

.pos1 {
  display: flex;
  flex-direction: column;
  position: relative;
}

.pos2 {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 5px 50px;
  text-decoration: none;
  color: black;
}

.swiper_container {
  margin-top: 4rem;
}

@font-face {
  font-family: "RobotoRegular";
  src: url(../../fonts/Roboto-Regular.ttf);
}
body, header, footer {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/*# sourceMappingURL=style.css.map */
